
.admin-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e293b);
}

/* card */

.admin-card{
width:350px;
padding:30px;
border-radius:15px;
background:white;
box-shadow:0 15px 40px rgba(0,0,0,0.4);
text-align:center;
animation:fadeUp 1s ease;
}

.admin-card h2{
margin-bottom:20px;
}

/* inputs */

.admin-card input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}

/* button */

.admin-card button{
width:100%;
padding:12px;
margin-top:10px;
background:#4f46e5;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

.admin-card button:hover{
transform:scale(1.05);
background:#4338ca;
}

/* animation */

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}