

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

.gallery-page{

padding:80px 20px;
background:linear-gradient(135deg,#141e30,#243b55);
min-height:100vh;
color:white;
text-align:center;
}

.gallery-title{

font-size:48px;
margin-bottom:60px;
font-weight:600;
}

.gallery-section{

margin-bottom:80px;
}

.gallery-section h2{

margin-bottom:30px;
color:#00f2ff;
font-size:28px;
}

.gallery-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
max-width:1200px;
margin:auto;
}

.gallery-card{

overflow:hidden;
border-radius:15px;
cursor:pointer;
position:relative;
box-shadow:0 15px 40px rgba(0,0,0,0.4);
}

.gallery-card img{

width:100%;
height:220px;
object-fit:cover;
transition:0.6s;
}

.gallery-card:hover img{

transform:scale(1.15);
filter:brightness(80%);
}



.image-popup{

position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:rgba(0,0,0,0.9);
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}

.image-popup img{

max-width:80%;
max-height:80%;
border-radius:12px;
}