
 .navbar {
  height: 100px;
  background: #5aa2c8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  font-family: Arial, sans-serif;


  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 60px;
  width: auto;
}




.nav-links{
display: flex;
list-style: none;
gap: 70px;
text-decoration: none;
margin: 0;
padding: 0;
}


.nav-links li a{
text-decoration: none;
color: #111010;
font-size: 16px;
}
.nav-links li a:hover{
color: #ff8c42;

}


.gallery-btn{
background-color: #444;
color: white;
border: none;
padding: 6px 14px;
border-radius: 4px;
cursor: pointer;
}
.student{
background-color: #444;
color: white;
border: none;
padding: 6px 14px;
border-radius: 4px;
cursor: pointer;
}
