
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background: #59b7edee;
  margin: 0;
  border: none;
  font-family: "Poppins", sans-serif;
}

.logo img {
  height: 70px;
  width: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #111010;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: 0.1s ease;
}

.nav-links li a:hover {
  color: #ff8c42;
}
.gallery-btn,
.student {
  background-color: #444;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-btn:hover,
.student:hover {
  background-color: #ff8c42;
}